.navbar {
  background-color: #c4381c;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  padding: 10px;
}

.navbar-logo {
  width: 5rem;
  height: auto;
  margin-left: 2rem;
}

.logo {
  width: 1.5rem;
  height: auto;
}

.navbar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navbar nav ul li {
  margin: 0 10px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: center; 
  }

  .navbar-logo {
    margin-left: 0;
  }

  .navbar nav ul {
    justify-content: center; 
  }

  .navbar nav ul li {
    margin: 10px; 
  }
}

